<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IE9(아이구)</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="../js/main.js"></script>
</head>
<body>
    <main>
        <div id="title">
            <h1>
                IE9(아이구)
            </h1>
        </div><!-- e:title -->
        <div id="team_profile">
            <a href="#" class="t_card c_1">
                <div class="txt_box">
                    <p>팀장</p>
                    <p>서채연</p>
                </div><!-- e:txt_box -->
                <img src="../images/35768_68227_247.jpg" alt="1_img">
            </a><!-- e:t_card c_1 -->
            <a href="#" class="t_card c_1">
                <div class="txt_box">
                    <p>팀원</p>
                    <p>이정현</p>
                </div><!-- e:txt_box -->
                <img src="../images/image_readtop_2021_535745_16226846584668330.jpg" alt="2_img">
            </a><!-- e:t_card c_1 -->
            <a href="#" class="t_card c_1">
                <div class="txt_box">
                    <p>팀원</p>
                    <p>이정현</p>
                </div><!-- e:txt_box -->
                <img src="../images/img.jpg" alt="3_img">
            </a><!-- e:t_card c_3 -->
            <a href="#" class="t_card c_4">
                <div class="txt_box">
                    <p>팀원</p>
                    <p>이정현</p>
                </div><!-- e:txt_box -->
                <img src="../images/고양이_나이1.jpg" alt="4_img">
            </a><!-- e:t_card c_4 -->
            <a href="#" class="t_card c_5">
                <div class="txt_box">
                    <p>팀원</p>
                    <p>이정현</p>
                </div><!-- e:txt_box -->
                <img src="../images/ray-zhuang-Px2Y-sio6-c-unsplash-scaled.jpg" alt="5_img">
            </a><!-- e:t_card c_5 -->
        </div><!-- e:team_profile -->
        <div id="info">
            <ul>
                <li class="open_btn"><span>팀소개</span><button onclick="open_btn"><img src="../images/Triangle Arrow.png" alt="더보기"></button></li>
                <li class="close_btn"><span>팀소개</span><button onclick="close_btn"><img src="../images/Triangle Arrow.png" alt="닫기"></button></li>
                <li class="hide_list">
                    <ul>
                        <li class="write_box">
                            <input type="text" placeholder="닉네임">
                            <input type="text" placeholder="방명록">
                            <div class="w_b_btn">
                                <button>임력하기</button>
                            </div><!-- e:w_b_btn -->
                        </li><!-- e:write_box -->
                        <li class="box b_1">
                            <p>방명록1</p>
                            <p>-닉네임</p>
                        </li><!-- e:b_1 -->
                        <li class="box b_2">
                            <p>방명록2</p>
                            <p>-닉네임</p>
                        </li><!-- e:b_2 -->
                    </ul>
                </li>
            </ul>
        </div><!-- e:info -->
    </main>
    <footer>
    </footer>
</body>
</html>